.more-container {
  display: flex;
  position: relative;
}
.more-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.more-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius2);
}
.more-text {
  color: rgb(155, 155, 155);
  font-size: 1rem;
  font-style: normal;
  transition: 0.3s;
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 2;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  text-transform: uppercase;
}
.more-text:hover {
  color: var(--dl-color-success-limegreen);
}
.more-text:active {
  color: var(--dl-color-success-electricgreen);
}
.more-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: var(--dl-color-success-chartreuse);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  backdrop-filter: blur(3px);
  list-style-type: none;
  background-color: rgba(0, 0, 0, 0.52);
  list-style-position: inside;
}
.more-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.more-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.more-dropdown-toggle1:hover {
  fill: #fff;
  border-radius: 0px;
  background-color: rgba(175, 255, 180, 0.08);
}
.more-text1 {
  color: rgb(155, 155, 155);
  font-size: 1rem;
  font-style: normal;
  transition: 0.3s;
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 2;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  text-transform: uppercase;
}
.more-text1:hover {
  color: var(--dl-color-success-limegreen);
}
.more-text1:active {
  color: var(--dl-color-success-electricgreen);
}
.more-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.more-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.more-dropdown-toggle2:hover {
  fill: #fff;
  color: var(--dl-color-success-chartreuse);
  border-radius: 0px;
  background-color: rgba(175, 255, 180, 0.08);
}
.more-text2 {
  color: rgb(155, 155, 155);
  width: 100%;
  font-size: 1rem;
  font-style: normal;
  transition: 0.3s;
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 2;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  text-transform: uppercase;
}
.more-text2:hover {
  color: var(--dl-color-success-limegreen);
}
.more-text2:active {
  color: var(--dl-color-success-electricgreen);
}
.more-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.more-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.more-dropdown-toggle3:hover {
  fill: #fff;
  color: var(--dl-color-success-chartreuse);
  border-radius: 0px;
  background-color: rgba(175, 255, 180, 0.08);
}
.more-text3 {
  color: rgb(155, 155, 155);
  width: 100%;
  font-size: 1rem;
  font-style: normal;
  transition: 0.3s;
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 2;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  text-transform: uppercase;
}
.more-text3:hover {
  color: var(--dl-color-success-limegreen);
}
.more-text3:active {
  color: var(--dl-color-success-electricgreen);
}
.more-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.more-dropdown-toggle4 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.more-dropdown-toggle4:hover {
  fill: #fff;
  color: var(--dl-color-success-chartreuse);
  border-radius: 0px;
  background-color: rgba(175, 255, 180, 0.08);
}
.more-text4 {
  color: rgb(155, 155, 155);
  width: 100%;
  font-size: 1rem;
  font-style: normal;
  transition: 0.3s;
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 2;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  text-transform: uppercase;
}
.more-text4:hover {
  color: var(--dl-color-success-limegreen);
}
.more-text4:active {
  color: var(--dl-color-success-electricgreen);
}
.more-dropdown-toggle5 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.more-dropdown-toggle5:hover {
  fill: #fff;
  color: var(--dl-color-success-chartreuse);
  border-radius: 0px;
  background-color: rgba(175, 255, 180, 0.08);
}
.more-text5 {
  color: rgb(155, 155, 155);
  width: 100%;
  font-size: 1rem;
  font-style: normal;
  transition: 0.3s;
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 2;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  text-transform: uppercase;
}
.more-text5:hover {
  color: var(--dl-color-success-limegreen);
}
.more-text5:active {
  color: var(--dl-color-success-electricgreen);
}
.more-dropdown4 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.more-dropdown-toggle6 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.more-dropdown-toggle6:hover {
  fill: #fff;
  color: var(--dl-color-success-chartreuse);
  border-radius: 0px;
  background-color: rgba(175, 255, 180, 0.08);
}
.more-text6 {
  color: rgb(155, 155, 155);
  width: 100%;
  font-size: 1rem;
  font-style: normal;
  transition: 0.3s;
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 2;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  text-transform: uppercase;
}
.more-text6:hover {
  color: var(--dl-color-success-limegreen);
}
.more-text6:active {
  color: var(--dl-color-success-electricgreen);
}









@media(max-width: 1600px) {
  .more-dropdown-toggle1 {
    color: var(--dl-color-gray-500);
  }
  .more-dropdown-toggle2 {
    color: var(--dl-color-gray-500);
  }
  .more-text2 {
    width: 100%;
  }
  .more-dropdown-toggle3 {
    color: var(--dl-color-gray-500);
  }
  .more-text3 {
    width: 100%;
  }
  .more-dropdown-toggle4 {
    color: var(--dl-color-gray-500);
  }
  .more-text4 {
    width: 100%;
  }
  .more-dropdown-toggle5 {
    color: var(--dl-color-gray-500);
  }
  .more-text5 {
    width: 100%;
  }
  .more-dropdown-toggle6 {
    color: var(--dl-color-gray-500);
  }
  .more-text6 {
    width: 100%;
  }
}
@media(max-width: 991px) {
  .more-dropdown-list {
    left: 0%;
  }
}
@media(max-width: 479px) {
  .more-root-class-name {
    margin-left: 2px;
    margin-right: 2px;
  }
  .more-root-class-name1 {
    margin-left: 2px;
    margin-right: 2px;
  }
  .more-root-class-name6 {
    margin-left: 2px;
    margin-right: 2px;
  }
  .more-root-class-name7 {
    margin-left: 2px;
    margin-right: 2px;
  }
  .more-root-class-name8 {
    margin-left: 2px;
    margin-right: 2px;
  }
}

.error404-container {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url('https://pub-54ee60c754214a8fbd993b4e34282565.r2.dev/BG (2).png');
  background-position: bottom right;
}
.error404-container1 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 80%;
  height: auto;
  margin: auto;
  display: flex;
  z-index: 120;
  position: fixed;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  backdrop-filter: blur(4px);
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.7);
}
.error404-text {
  color: var(--dl-color-success-chartreuse);
  font-size: 1.5em;
  font-style: italic;
  font-weight: 900;
  text-transform: uppercase;
}
.error404-container2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.error404-navlink {
  color: rgb(155, 155, 155);
  font-size: 1rem;
  font-style: normal;
  transition: 0.3s;
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 2;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  text-transform: uppercase;
  text-decoration: none;
}
.error404-navlink:hover {
  color: var(--dl-color-success-chartreuse);
}
.error404-navlink:active {
  color: var(--dl-color-success-electricgreen);
}
.error404-navlink1 {
  color: rgb(155, 155, 155);
  font-size: 1rem;
  font-style: normal;
  transition: 0.3s;
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 2;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  text-transform: uppercase;
  text-decoration: none;
}
.error404-navlink1:hover {
  color: var(--dl-color-success-limegreen);
}
.error404-navlink1:active {
  color: var(--dl-color-success-electricgreen);
}
.error404-navlink2 {
  color: rgb(155, 155, 155);
  font-size: 1rem;
  font-style: normal;
  transition: 0.3s;
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 2;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  text-transform: uppercase;
  text-decoration: none;
}
.error404-navlink2:hover {
  color: var(--dl-color-success-limegreen);
}
.error404-navlink2:active {
  color: var(--dl-color-success-electricgreen);
}
.error404-navlink3 {
  color: rgb(155, 155, 155);
  font-size: 1rem;
  font-style: normal;
  transition: 0.3s;
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 2;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  text-transform: uppercase;
  text-decoration: none;
}
.error404-navlink3:hover {
  color: var(--dl-color-success-limegreen);
}
.error404-navlink3:active {
  color: var(--dl-color-success-electricgreen);
}
.error404-navlink4 {
  color: rgb(155, 155, 155);
  font-size: 1rem;
  font-style: normal;
  transition: 0.3s;
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 2;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  text-transform: uppercase;
  text-decoration: none;
}
.error404-navlink4:hover {
  color: var(--dl-color-success-limegreen);
}
.error404-navlink4:active {
  color: var(--dl-color-success-electricgreen);
}
.error404-container3 {
  top: 0px;
  left: 0px;
  width: auto;
  bottom: 0px;
  height: auto;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: flex-start;
  align-items: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  backdrop-filter: blur(5px);
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.63);
}
.error404-container4 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: center;
}
.error404-text1 {
  color: var(--dl-color-success-limegreen);
  font-size: 4rem;
  font-style: normal;
  font-family: "Montserrat";
  font-weight: 900;
  text-transform: uppercase;
}
.error404-text2 {
  color: #8e8e8e;
  font-size: 2rem;
  font-style: normal;
  font-family: "Montserrat";
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
}
.error404-text3 {
  color: #373737;
  font-size: 1.3rem;
  font-style: normal;
  font-family: "Montserrat";
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
}
.error404-container5 {
  display: flex;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.error404-text4 {
  color: var(--dl-color-gray-700);
  font-size: 16px;
  font-style: normal;
  font-family: "Montserrat";
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
}
.error404-form {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.error404-textinput {
  color: var(--dl-color-success-limegreen);
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-success-chartreuse);
  border-width: 2px;
  margin-right: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: transparent;
}
.error404-textinput1 {
  color: var(--dl-color-success-limegreen);
  transition: 0.3s;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-success-chartreuse);
  border-width: 2px;
  margin-right: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: transparent;
}
.error404-textinput1:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-success-chartreuse);
}
@media(max-width: 991px) {
  .error404-container3 {
    top: 117px;
    left: 97px;
  }
}
@media(max-width: 767px) {
  .error404-container1 {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .error404-container1 {
    width: 100%;
    flex-direction: column;
  }
  .error404-navlink {
    margin-left: 2px;
    margin-right: 2px;
  }
  .error404-navlink1 {
    margin-left: 2px;
    margin-right: 2px;
  }
  .error404-navlink2 {
    margin-left: 2px;
    margin-right: 2px;
  }
  .error404-navlink3 {
    margin-left: 2px;
    margin-right: 2px;
  }
  .error404-navlink4 {
    margin-left: 2px;
    margin-right: 2px;
  }
  .error404-container3 {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    margin: auto;
    align-items: center;
    padding-left: 0px;
  }
  .error404-text1 {
    font-size: 3rem;
  }
  .error404-text2 {
    font-size: 1.5rem;
  }
  .error404-text3 {
    font-size: 1.5rem;
  }
}
